<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue Color Chooser</title>

    <!--<script src="https://unpkg.com/vue"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>-->
</head>
<body>

<div id="colorChooser">
    <h1>Vue Color Chooser {{vueRelease}}</h1>

    <!--BASE COLOR CHOOSER:-->
    <b>Click to lock Base Color:</b>
    <span :style="'color: white; background-color: rgb(' + baseRed + ','
                                                        + baseGrn + ','
                                                        + baseBlu + ');'">
        {{baseRed}} {{baseGrn}} {{baseBlu}}</span>

    <div id="baseColors">
        <div class="base-el"
             v-for="props in baseProps"
             :id="props.ID"
             :class="{selected:baseSelection == props.ID}"
             v-on:mouseover="baseHover"
             v-on:click="baseClick"
             :style="'color: white; background-color: rgb(' + props.baseRed + ','
                                                            + props.baseGrn + ','
                                                            + props.baseBlu + ');'">
            R:{{props.baseRed}}<br>G:{{props.baseGrn}}<br>B:{{props.baseBlu}}
        </div>
    </div>
    <br>

    <!--FINAL COLOR CHOOSER:-->
    <b>Click to lock Final Color:</b>
    <span :style="'color: ' + fgColor(readoutRed, readoutGrn, readoutBlu) +
                  '; background-color: rgb(' + readoutRed + ','
                                                         + readoutGrn + ','
                                                         + readoutBlu + ');'">
        {{readoutRed}} {{readoutGrn}} {{readoutBlu}}</span>
    <br>
    <div id="finalColors">
        <div class="final-el"
             v-for="props in finalProps"
             :id="props.ID"
             :class="{selected:finalSelection == props.ID}"
             v-on:mouseover="finalHover"
             v-on:click="finalClick"
             :style="'color: ' + fgColor(props.R, props.G, props.B)
             + '; background-color: rgb(' + props.R + ',' + props.G + ',' + props.B + ');'"
             v-html="'R:' + props.R + '<br>G:' + props.G + '<br>B:' + props.B">
        </div>
    </div>

    <!--FINAL READOUT AND CLIPBOARD-COPY BUTTONS:-->
    <span id="readout-grid">
    <span style="text-align: right; padding: 6px"><b>Final<br>Color:</b></span>
    <span :style="'color: ' + fgColor(readoutRed, readoutGrn, readoutBlu)
                    + '; padding: 12px; border: 3px solid gray; background-color: rgb('
                    + readoutRed + ',' + readoutGrn + ',' + readoutBlu + ');'"
          v-html="'R:' + readoutRed + '<br>G:' + readoutGrn + '<br>B:' + readoutBlu">
    </span>
    <span></span>
    <span></span>
    <span></span>
    <button v-on:click="copyToClip(readoutRed,',',readoutGrn,',',readoutBlu)">
        Copy <b>{{readoutRed}},{{readoutGrn}},{{readoutBlu}}</b> to clipboard</button>
    <span></span>
    <span></span>
    <span></span>
    <button v-on:click="copyToClip('#',readoutRedHex,readoutGrnHex,readoutBluHex)">
        Copy <b>#{{readoutRedHex}}{{readoutGrnHex}}{{readoutBluHex}}</b> to clipboard</button>
    <span></span>
    <span></span>
    <span></span>
    <span style="padding: 12px" v-if="clipCopied"><b>{{clipCopied}}</b> copied to clipboard.</span>
    <span style="padding: 12px" v-else><br><br><br></span>
    <span></span>
    <span></span>
    <span></span>
        <button v-on:click="toggleDemo()">
        Demo {{demoButton}}</button>
    <span></span>
    <span></span>
    <span></span>
    <span style="padding: 12px" v-if="framesPerSec">Average frames/second:
        <b>{{framesPerSec}}@{{finalCols}}x{{finalCols}}</b></span>
    <span style="padding: 12px" v-else><br><br><br></span>
    </span>
</div>

<script>
    "use strict";
    const release = "2.3";          // "Semantic" program version for end users
    document.title = "Vue Color Chooser " + release;

    // Toggles:
    let baseLock = false;
    let finalLock = false;

    // Demo mode:
    let demoSecs = 0;   // For frames/sec readout
    let frameCount = 0;

    let doDemo = false;
    let demoRefreshing = false;
    let demoBaseArray = [];  // Copy of baseArray For "demo" mode operation
    let demoSpeed = 10; // ms delay during demo cycles
    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.has('demo')) {
        if (urlParams.get('demo') === 'true')
            doDemo = true;
    }

    ///// Set up responsive sizing of all elements by executing our CSS via JavaScript:
    // todo: unstyled page flashes at startup.
    const gridCellSize = 45;
    const bodyMargin = 40;
    let baseColSpec;
    let finalColSpec;

    setMySize();
    window.addEventListener('resize', setMySize);

    function setMySize() {
        const myWidth = document.documentElement.clientWidth - bodyMargin * 2; // account for margins
        const myHeight = document.documentElement.clientHeight - bodyMargin * 2; // margins + other elements
        const finalWidth = myWidth - 135;
        const finalHeight = myHeight - 175;
        const finalMinDim = finalWidth < finalHeight ? finalWidth : finalHeight;
        baseColSpec = Math.round(myWidth / gridCellSize);
        finalColSpec = Math.round(finalMinDim / gridCellSize);
        if (finalColSpec < 2) finalColSpec = 2;
        demoSecs = 0;
        frameCount = 0;


        /// Write style sheet here so we can share its variables with JavaScript:
        let styleEl = document.getElementById("ccStyles"); // Avoid appending multiple <style>s
        if (styleEl)
            styleEl.parentNode.removeChild(styleEl);
        const ccStyleSheet = document.createElement('style');
        ccStyleSheet.id = "ccStyles";
        ccStyleSheet.innerHTML = `
:root {
    font-family: sans-serif;
    --bgcolor: lightgray;
    background-color: var(--bgcolor);
}

body {
    margin: ${bodyMargin}px;
}

h1 {
    text-align: center;
}

#baseColors {
    display: grid;
    width: fit-content;
    grid-template-columns: repeat(${baseColSpec}, ${gridCellSize}px);
}

#finalColors {
    display: inline-grid;
    width: fit-content;
    grid-template-columns: repeat(${finalColSpec}, ${gridCellSize}px); /* best w/odd number */
}

#readout-grid {
    display: inline-grid;
    grid-template-columns: ${gridCellSize * 1.2}px ${gridCellSize * 2}px;
    max-width: ${gridCellSize * 2}px; /* scroll screen instead of wrapping beneath elements to my left */
}

.base-el, .final-el {
    border-color: var(--bgcolor);
    border-style: solid;
    border-width: 2px;
}

.base-el, .final-el, .selected {
    font-size: ${gridCellSize / 4}px;
    line-height: ${gridCellSize / 4}px;
    /*border-radius: ${gridCellSize / 8}px; causes lockups (performance) */
    height: ${gridCellSize / 1.1}px;
    display: block;
    cursor: pointer;
    padding-left: ${gridCellSize / 20}px;
    padding-top: ${gridCellSize / 20}px;
}

@keyframes blink {
    0% {
        border: 2px inset white;
    }
    100% {
        border: 2px outset white;
    }
}

/* Highlight a selected cell */
.selected {
    animation: blink .6s step-start infinite alternate;
    // animation-timing-function: ease-in-out;
    animation-timing-function: ease;
    /*todo: causes lockup w/Chrome ("mousehandler timeout?") */
    /*transform: skewY(-20deg);*/
}

button {
    height: ${gridCellSize * 2}px;
    width: ${gridCellSize * 3}px;
    font-size: ${gridCellSize / 3}px;
    line-height: ${gridCellSize / 3}px;
    align-self: center;
    cursor: pointer;
    border: 3px solid gray;
}

button:hover,
button:focus {
    background: white;
}

button:active {
  transform: translate(4px, 4px);
}

`;
        document.head.appendChild(ccStyleSheet);
    }

    new Vue({
        el: '#colorChooser',
        mounted() {
            window.addEventListener('resize', this.onResize);
            if (doDemo) {
                this.demoButton = "OFF";
                this.clockDemo();
                this.runDemo();  // Kick off the demo
            } else {
                this.demoButton = "ON";
            }
        },
        data: {
            vueRelease: release,
            // Initial user choice:
            baseRed: 127,
            baseGrn: 127,
            baseBlu: 127,
            // Final user choice:
            finalRed: 127,
            finalGrn: 127,
            finalBlu: 127,
            // Readouts:
            readoutRed: 127,
            readoutGrn: 127,
            readoutBlu: 127,
            readoutRedHex: "7f",
            readoutGrnHex: "7f",
            readoutBluHex: "7f",
            // Selections (control CSS highlighting):
            baseSelection: undefined,
            finalSelection: undefined,
            // Used in "copy to clipboard" logic:
            clipCopied: undefined,
            demoButton: undefined,

            // Stateful in case of resize event:
            baseCols: baseColSpec,
            finalCols: finalColSpec,

            finalArray: [], // stateful so we can watch it during demo mode

            framesPerSec: undefined,
        },
        watch: {
            // Change to finalArray triggers change to final selection during demo:
            finalArray() {
                if (doDemo) {
                    let nextFinalEl;
                    const finalCellCt = this.finalCols * this.finalCols;

                    do
                        nextFinalEl = this.finalArray[Math.trunc(Math.random() * finalCellCt)];
                    while (nextFinalEl.ID === this.finalSelection); // Force new random location

                    // todo: D.R.Y.:
                    this.readoutRed = nextFinalEl.R;
                    this.readoutGrn = nextFinalEl.G;
                    this.readoutBlu = nextFinalEl.B;
                    this.readoutRedHex = this.readoutRed.toString(16).padStart(2, "0");
                    this.readoutGrnHex = this.readoutGrn.toString(16).padStart(2, "0");
                    this.readoutBluHex = this.readoutBlu.toString(16).padStart(2, "0");
                    this.finalSelection = nextFinalEl.ID;
                    frameCount++;
                }
            },
            // Change to finalSelection triggers change to finalArray during demo:
            finalSelection() {
                doDemo && this.runDemo();
            }
        },

        // The "base" grid contains a fixed set of initial colors to choose from.
        // The "final" grid changes dynamically to colors adjacent to that of the
        // currently selected base grid cell.  So initialize the base grid with a
        // spectrum of colors, and initialize the final grid with the coordinates
        // needed to calculate its colors at finalCell(), below.
        //
        computed: {
            ///////////// CALCULATE BASE GRID COLORS and IDs:
            baseProps: function () {
                let baseArray = [];
                let bpRed = 255;
                let bpGrn = 255;
                let bpBlu = 255;
                let baseID = 0;

                // Base rainbow grid.  Math derived from https://krazydad.com/tutorials/makecolors.php:
                const sinFreq = 6 / this.baseCols;
                const greenPhase = 2 * Math.PI / 3;
                const bluePhase = 4 * Math.PI / 3;
                const sineWidth = 127;
                const sineCtr = 128;
                for (let j = 0; j < this.baseCols - 1; ++j, baseID++) {
                    bpRed = Math.round(Math.sin(sinFreq * j + 0) * sineWidth + sineCtr);
                    bpGrn = Math.round(Math.sin(sinFreq * j + greenPhase) * sineWidth + sineCtr);
                    bpBlu = Math.round(Math.sin(sinFreq * j + bluePhase) * sineWidth + sineCtr);
                    baseArray.push({baseRed: bpRed, baseGrn: bpGrn, baseBlu: bpBlu, ID: baseID});
                }
                // Add gray square:
                bpRed = bpGrn = bpBlu = 127;
                baseID++;
                baseArray.push({baseRed: bpRed, baseGrn: bpGrn, baseBlu: bpBlu, ID: baseID});
                demoBaseArray = baseArray;
                return baseArray;
            },

            ///////////// CALCULATE FINAL COLOR GRID CELL COLORS & IDs:
            finalProps: function () {
                // Derive grid size from CSS:
                this.finalArray = [];
                let red;
                let grn;
                let blu;
                let xOffset;
                let yOffset;

                let xSpread = Math.round(136 / this.finalCols);
                let ySpread = Math.round(154 / this.finalCols);
                let periphCols = Math.trunc(this.finalCols / 2);
                // red/grn/blu code adapted from Justin Meyer:
                for (let c = 0, id = 0; c < this.finalCols; c++) {
                    for (let r = 0; r < this.finalCols; id++, r++) {
                        xOffset = periphCols - c;    // How far am I from grid center?
                        yOffset = periphCols - r;
                        // Purely empirical way of getting a useful range:
                        red = +this.baseRed + xOffset * xSpread + yOffset * ySpread;
                        grn = +this.baseGrn + xOffset * xSpread + yOffset * ySpread;
                        blu = +this.baseBlu + xOffset * xSpread + yOffset * ySpread;
                        red = red > 255 ? 255 : red < 1 ? 0 : red;
                        grn = grn > 255 ? 255 : grn < 1 ? 0 : grn;
                        blu = blu > 255 ? 255 : blu < 1 ? 0 : blu;
                        this.finalArray.push({ID: id, R: red, G: grn, B: blu});
                    }
                }
                // this.demoFinalArray = finalArray;
                return this.finalArray;
            }
        },
        methods: {
            runDemo() {
                // console.log(`runDemo called.`);
                if (demoRefreshing) return;
                demoRefreshing = true;

                let nextBaseEl;

                do
                    nextBaseEl = demoBaseArray[Math.trunc(Math.random() * baseColSpec)];
                while (nextBaseEl.ID === this.baseSelection); // Force new random location

                setTimeout(() => {
                    if (doDemo) {   // Test flag here since it may have been set during timeout
                        this.baseRed = nextBaseEl.baseRed;
                        this.baseGrn = nextBaseEl.baseGrn;
                        this.baseBlu = nextBaseEl.baseBlu;
                        this.baseSelection = nextBaseEl.ID;
                    }
                    demoRefreshing = false;
                }, demoSpeed);
            },
            clockDemo() {
                setTimeout(() => {
                    this.framesPerSec = (frameCount / ++demoSecs).toFixed(2); // Seconds we have been running this demo
                    if (doDemo)
                        this.clockDemo();
                }, 1000);
            },
            // Our window was resized, so trigger a render:
            onResize(event) {
                this.baseCols = baseColSpec;
                this.finalCols = finalColSpec;
            },
            // Set selection to id and base color from background-color of a hovered/clicked cell:
            setBaseRGB(event) {
                if (doDemo) return;
                this.baseSelection = event.currentTarget.id;
                this.finalSelection = undefined;
                finalLock = false;
                let curRGB = event.currentTarget.style.backgroundColor.slice(4, -1);
                if (curRGB.length) {
                    [this.baseRed, this.baseGrn, this.baseBlu] = curRGB.split(', ');
                }
            },
            baseHover(event) {
                if (!baseLock) this.setBaseRGB(event);
            },
            baseClick(event) {
                baseLock = !baseLock;
                this.setBaseRGB(event);
            },
            // Set selection to id and final color from background-color of a hovered/clicked cell:
            setFinalRGB(event) {
                if (doDemo) return;
                this.finalSelection = event.currentTarget.id;
                let curRGB = event.currentTarget.style.backgroundColor.slice(4, -1);
                if (curRGB.length) {
                    // Set values for readout fields:
                    this.readoutRed = Number(curRGB.split(', ')[0]);
                    this.readoutGrn = Number(curRGB.split(', ')[1]);
                    this.readoutBlu = Number(curRGB.split(', ')[2]);
                    this.readoutRedHex = this.readoutRed.toString(16).padStart(2, "0");
                    this.readoutGrnHex = this.readoutGrn.toString(16).padStart(2, "0");
                    this.readoutBluHex = this.readoutBlu.toString(16).padStart(2, "0");
                }
            },
            finalHover(event) {
                if (!finalLock) this.setFinalRGB(event);
            },
            finalClick(event) {
                finalLock = !finalLock;
                this.setFinalRGB(event);
            },
            fgColor(red, grn, blu) {
                if (+red + +grn + +blu > 400) {  // '+' coerces strings to numbers
                    return "black";
                }
                else
                    return "white";
            },
            // Copy argument(s) to end user system's clipboard:
            copyToClip() {
                let toCopy = "";
                for (let i = 0; i < arguments.length; i++) {
                    toCopy += arguments[i];
                }
                // Note: this has the confusing side-effect of de-focusing any active button:
                let textArea = document.createElement("textarea");
                textArea.value = toCopy;
                document.body.appendChild(textArea);
                textArea.select();
                document.execCommand("Copy");
                textArea.remove();
                this.clipCopied = `${toCopy}`;
            },
                toggleDemo() {
                doDemo = !doDemo;
                if (doDemo) {
                    demoRefreshing = false;
                    this.demoButton = "OFF";
                    this.clockDemo();
                    this.runDemo();     // Kick off demo
                } else {
                    this.demoButton = "ON";
                    this.frameCount = 0;
                    this.demoSecs = 0;
                }
            },
        }
    });
</script>
</body>
</html>
